<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МВД России - информационно-справочный портал</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
      <div class="header-left">
          <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit; display: flex; align-items: center; gap: 20px;">
              <img src="{{ url_for('static', filename='img/gerb.png') }}" alt="Герб" class="gerb">
              <div class="logo-text">
                  <div>МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ</div>
                  <div>РОССИЙСКОЙ ФЕДЕРАЦИИ</div>
                  <div class="portal-name">информационно-справочный портал</div>
              </div>
          </a>
      </div>
        <button class="admin-button">Администратор Г.</button>
    </header>

    <nav>
        <ul class="nav-menu">
            <li class="nav-item">
                <img src="{{ url_for('static', filename='img/1mn.png') }}" alt="Иконка">
                <span>Адресно-телефонный<br>справочник</span>
            </li>
            <li class="nav-item">
                <img src="{{ url_for('static', filename='img/2mn.png') }}" alt="Иконка">
                <span>Новости,<br>события</span>
            </li>
            <li class="nav-item">
                <img src="{{ url_for('static', filename='img/3mn.png') }}" alt="Иконка">
                <span>Вопросы<br>и ответы</span>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('service_isod') }}" style="display: flex; align-items: center; gap: 8px; text-decoration: none; color: inherit;">
                    <img src="{{ url_for('static', filename='img/4mn.png') }}" alt="Иконка">
                    <span>Сервисы<br>ИСОД</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Добро пожаловать на информационный портал</h2>
        <p>Выберите интересующий раздел в меню выше</p>
    </main>
</body>
</html>
